{% extends "catalog/base.html" %}
{% load static %}

{% block title %}Главная - SkyStore{% endblock %}

{% block content %}
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">SkyStore</h1>
    <p class="lead">Интернет-магазин</p>
  </div>

  <div class="row text-center" id="products-list">
    {% for product in products %}
      <div class="col-lg-4 col-md-6 mb-4"> {# Используем сетку Bootstrap для карточек #}
        <div class="card h-100 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
          </div>
          <div class="card-body">
            <a href="{% url 'catalog:product_detail' product.pk %}">
              {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid mb-3" style="max-height: 150px; object-fit: contain;">
              {% else %}
                <img src="{% static 'img/no_image.png' %}" alt="Нет изображения" class="img-fluid mb-3" style="max-height: 150px; object-fit: contain;"> {# Заглушка для изображений #}
              {% endif %}
            </a>
            <h1 class="card-title pricing-card-title">{{ product.price }} ₽</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
              <li>
                {{ product.description|truncatechars:100 }}
                {% if product.description|length > 100 %}
                  <a href="{% url 'catalog:product_detail' product.pk %}">Подробнее</a>
                {% endif %}
              </li>
            </ul>
            <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-lg btn-block btn-outline-primary">Подробнее</a>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-12">
        <p>Товары не найдены.</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
